
{% extends '@fichaje_module/base.html.twig' %}

{% block body %}

  <hr><br>

  <form method="post" id="hideShow">

    <div class="form-inline">
      <div class="center">

        <label>
          <select id="user" name="user_name">
            {% for name in names %}

              {% if name == userName %}
                <option value="{{ name }}" selected>{{ name }}</option>
              {% else %}
                <option value="{{ name }}">{{ name }}</option>
              {% endif %}

            {% endfor %}
          </select>
        </label>

      </div>
    </div>

    <div class="form-inline">
      <div class="center">

        <label for="date" class="label"><input type="date" id="date" name="date_filter" value="{{ date }}"></label>
        <button type="submit" name="submit" value="submit">Filtrar</button>

      </div>
    </div>

  </form>

  <br><br><hr><br>

  <table class="equalDivide">
    <tr>
      <th class="center">Usuario</th>
      <th class="center">Jornada</th>
      <th class="center">Horas Semana</th>
    </tr>

    {% for key, user in users %}

      <tr>
        <td><a href="/user/{{ key }}">{{ user.name }}</a></td>
        <td>{{ user.jornada }}</td>
        <td class="{{ user.state }}">{{ user.time }}</td>
      </tr>

    {% endfor %}
  </table>

{% endblock %}
