
{% extends '@fichaje_module/base.html.twig' %}

{% block body %}

  <hr><br>

  <div class="center">

    {% if empresas|length == 0 %}
      <h2 class="center">No tienes Empresas configuradas</h2>
    {% else %}

      {%  for empresa in empresas %}
        <div class="column20">

          {% if empresa.name == actual.empresa%}

          {% if actual.time >= actual.limit %}

            <a href="/aviso/{{ empresa.name }}">
              <button>
                <img src="{{ empresa.image }}" alt="{{ empresa.name }}" typeof="foaf:Image" class="image-style-thumbnail" width="100" height="100">
              </button>
              <hr class="hrWarning">
            </a>

          {% else %}

            <a href="/fichar/{{ empresa.name }}">
              <button>
                <img src="{{ empresa.image }}" alt="{{ empresa.name }}" typeof="foaf:Image" class="image-style-thumbnail" width="100" height="100">
              </button>
              <hr class="hrOk">
            </a>

          {% endif %}

          {% else %}

          {% if actual.time >= actual.limit %}

          <a href="/aviso/{{ empresa.name }}">
            <button>
              <img src="{{ empresa.image }}" alt="{{ empresa.name }}" typeof="foaf:Image" class="image-style-thumbnail" width="100" height="100">
            </button>


            {% else %}

            <a href="/fichar/{{ empresa.name }}">
              <button>
                <img src="{{ empresa.image }}" alt="{{ empresa.name }}" typeof="foaf:Image" class="image-style-thumbnail" width="100" height="100">
              </button>


              {% endif %}

            </a>
            <hr class="hrBase">

            {% endif %}

        </div>
      {% endfor %}

    {% endif %}

  </div>

{% endblock %}
