
{% extends '@fichaje_module/base.html.twig' %}

{% block body %}

  <hr><br>

  <ul>
    {%  for fichaje in results %}
      <li>
        <b>{{ fichaje.type }}:</b> <span class="color{{ fichaje.empresa }}">{{ fichaje.empresa }}</span> - {{ fichaje.date }}
        {% if fichaje.time %}
          <ul><li><b> Tiempo:</b> {{ fichaje.time }}</li></ul>
        {% endif %}
      </li>
      <br>
    {% endfor %}
  </ul>

  <p>
  <form action='/fichador'>
    <input type='submit' value='Volver' />
  </form>
  </p>

{% endblock %}
