
{% extends '@fichaje_module/base.html.twig' %}

{% block body %}

  <hr><br>

  <div class="right">
    <button onclick="showHide()">Filtros</button>
  </div>

  <br>

  <div class="center" id="hideShow">

    <form method="post">

      {% for button in buttons %}

        {% if route == button.name %}

          <div class="column10">
            <label>
              <input type="radio" name="empresa" value="{{ button.name }}" checked="checked">
              <img src="{{ button.image }}" alt="{{ button.name }}" typeof="foaf:Image" class="image-style-thumbnail" width="100" height="100">
            </label>
          </div>

        {% else %}

          <div class="column10">
            <label>
              <input type="radio" name="empresa" value="{{ button.name }}">
              <img src="{{ button.image }}" alt="{{ button.name }}" typeof="foaf:Image" class="image-style-thumbnail" width="100" height="100">
            </label>
          </div>

        {% endif %}

      {% endfor %}

      <div class="form-inline">
        <div class="center">
          <label for="date" class="label"><input type="date" id="date" name="date_filter" value="{{ date }}"></label>
          <button type="button" onclick="clearValue('date')">X</button>
        </div>
      </div>

      <div class="form-inline">
        <div class="center">
          {% if isWeek == true %}
            <label for="week" class="label"><input type="checkbox" id="week" name="week_filter" value="week" checked>Semana Completa</label>
          {% else %}
            <label for="week" class="label"><input type="checkbox" id="week" name="week_filter" value="week">Semana Completa</label>
          {% endif %}
          <button type="submit" name="submit" value="submit">Filtrar</button>
        </div>
      </div>

      <br>

    </form>

  </div>

  <br><hr><br>

  {% for key, week in results %}

    <div>

      <div class="left">
        <p><b>Total de Horas: </b> {{ week.total }} </p>
      </div>

      <div class="right">
        <button onclick="showHideTables('{{ key }}')">Tabla</button>
      </div>

    </div>

    <table class="equalDivide" id="{{ key }}">
      <tr>
        <th class="center">Fecha</th>
        <th class="center">Tipo</th>
        <th class="center">Empresa</th>
        <th class="center">Tiempo</th>
      </tr>

      {% for fichaje in week.fichajes %}

        <tr>
          <td>{{ fichaje.date }}</td>
          <td>{{ fichaje.type }}</td>
          <td class="color{{ fichaje.empresa }}">{{ fichaje.empresa }}</td>
          {% if fichaje.type == "Entrada" %}
            <td class="colorTime">{{ fichaje.time }} | Estimado</td>
          {% else %}
            <td>{{ fichaje.time }}</td>
          {% endif %}
        </tr>

      {% endfor %}
    </table>

    <hr><br>

  {% endfor %}

{% endblock %}
