
{% extends '@fichaje_module/base.html.twig' %}

{% block body %}

  <hr><br>
  <h2>Hace más de 8 horas de tu último fichaje de entrada en <span class="color{{ fichaje.empresa }}">{{ fichaje.empresa }}</span></h2>

  <table class="equalDivide">
    <tr>
      <th class="center">Fecha</th>
      <th class="center">Tipo</th>
      <th class="center">Empresa</th>
      <th class="center">Tiempo Estimado</th>
    </tr>

    <tr>
      <td>{{ fichaje.date }}</td>
      <td>{{ fichaje.type }}</td>
      <td class="color{{ fichaje.empresa }}">{{ fichaje.empresa }}</td>
      <td>{{ fichaje.time }} horas</td>
    </tr>
  </table>

  <br><hr><br>

  <h2>Fecha y Hora de tu última Salida: </h2>
  <form class="form-inline" method="post">

    <label for="time"></label>
    <input type="time" step="1" id="time" name="time_filter">

    <label for="date"></label>
    <input type="date" id="date" name="date_filter">

    <input type="hidden" name="empresaNameClose" value="{{ fichaje.empresa }}" />

    <button type="submit">Enviar</button>
  </form>

  {% if error == true %}
    <br><hr>
    <h2>Error, la fecha de salida es anterior a la fecha de entrada</h2>
  {% endif %}

{% endblock %}
